<h1>Report A Problem</h1>
<h2>Hava a Problem or Concern?</h2>
Let us know about it.  We are constantly developing this site to give you the best experience possible.  Your input is valuable to us, and we'll get back to you as soon as possible.
<%= error_messages_for :feedback %>
<% form_for :feedback, @feedback, :url => { :action => 'submit' } do |f| %>
<p></p>
<p><label>Subject</label><br>
<%= f.text_field :subject, :class => 'text-input', 
    :size => 60,
    :style => @style
 %>
</p>
<p><label>Problem or Concern</label><br>
  <%= f.text_area :problem,
      :cols => 58,
      :rows => 3,
      :style => @style 
  %>
</p><p>
<%= submit_tag 'Report Problem' %>
</p>
<% end %>
