<h1>My Story</h1>
<h2>My story</h2>
<p>

Let's try a little thought experiment.... Make a list of all the things on your ToDo
list.  Things you want to get done, tasks you need to get done, things you aspire to
get accomplished. If you really think hard about it, the list gets pretty long. Now,
rewind a week.... what would that list look like now.... Now a month... How about a
year?  What I think you'll find is that the tasks at the top of your list change
frequently (or at least are regular weekly type events) What about the bottom of that
list.  For me, it hardly changed.... Week after week, month after month.  The bottom
half of my ToDo list stayed frozen in time.  Once something fell down there, it never
ever got done.... But it stayed on the list.

</p><p>

Now let's look at that piece of the list. Mine included sorting a box full of junk
that's been sitting in my corner for over a year.  It also included "Learn to play
the guitar" Hmmm... now that's messed up, my dream of learning the guitar is mentally
filed right next to a messy box that makes me cringe every time I think about
it.... That doesn't seem right, at all!

</p><p>

The messy box is an example of <b><em>deadweight</em></b>.  It's something I need to
get done at somepoint, just never today.  I feel tense whenever I think about it, so
I choose to ignore it.  But, and this is key, there is some part of me that is tied
up in remembering that I need to clean out that box someday.

</p>
<h2>Goals are dreams with deadlines. ~Diana Scharf Hunt</h2>
<p>

Now sitting right in the same category is my desire to learn the guitar.  Guess what,
the tension I feel about the box leaks right over into the guitar slot.  In some
sense, the whole things-to-do-someday pile gets sullied by my tension over that messy
box.  And so the whole thing gets pushed off again and again.

</p><p>

Since a piece of me is tied up thinking about that messy box, I'm unable to give my
all to anything else in my life.  It's not a big piece, but it takes a big toll.
Think about moving a couch up some stairs.  Like life, it presents some big
challenges, but I know I can do it.  Now think about what it would be like to try to
move that couch while holding a penny.  A little piece of you is distracted by that
penny and makes the task of moving the couch a *lot* harder.

</p><p>

So, here is what I did... I made a new-years resolution to clean up that messy
box.... Guess what my new years resolution was the next year.... Yep, clean out that
messy box.  There was no accountability, there was no action.  Only a tension, and a
notion that I would do it sometime later.  Well, that changed this year...

</p><p>

This year I made no resolutions.  Instead, I gave my buddy $50, and asked him to hold
onto it until I got my messy box cleaned up.  I gave myself a deadline, my birthday
six weeks away.  If I didn't have my box cleaned up by then, I didn't get my money
back.

</p><p>

And guess what happened.  All of a sudden, I was excited about that box.  Yeah!
Thinking about that box made me happy.  I *knew* that box would be cleaned and out of
my life in six weeks.  I didn't know how or when I was going to do it, but I had a
certainty that it would finally get done.  That night I gleefully started rummaging
through that box.  Dumping stuff all over the floor, throwing stuff out, reveling in
the whole experience.  Now that's powerful.  The deadweight that had been holding me
back, was finally getting done.... And I was haing *fun* doing it!

</p><p>

This is what I want to share with you.  That transformational experience of
converting deadweight in your life into fun accomplishments.  Uncovering the dreams
that lie right next to them.  Giving you the space and intention to reach higher and
dream bigger.  Clear out the deadweight, so you can focus on the dreams that make
life worth living.

</p>
<h2>A goal without a plan is just a wish. Antoine de Saint</h2>
<p>

<p>
So, <%= link_to "how does it work", {:controller => "works"} %>?
</p>

<p><%= link_to "Sign me up!", {:controller => "users", :action => "new"}, :class => "red_link"%></p>
