Fill in the form to get an account
<% form_for :user, :url => { :action => :create } do |form| %>
 <p>Username: <%= form.text_field :username %></p>
 <p>Password: <%= form.text_field :password %></p>
 <p><%= submit_tag%></p>
<% end %>
