<h2>Thanks</h2>
<p>
Your user account information has been updated.
</p>
<% if @new_email -%>
We have sent an email to your new address.  Please login from the link
we sent to complete the change.
<% end -%>
