 <%= render :active_scaffold => :expired_bets, 
            :constraints => { :user_id => current_user.id, :state => BomConstant::BET_STATE_FAILURE }
  %>

<p><%= link_to "Show Current Goals", :controller => 'demo' -%></p>
