<h2>Thanks for playing.</h2>
<% if @cash_out_request.method == BomConstant::CASH_OUT_TYPE_PAYPAL %> 
<p><b>A payment for $<%= money_format(@price) -%> will be credited to your paypal account within 24 hours.</b></p>
<% elsif @cash_out_request.method == BomConstant::CASH_OUT_TYPE_GOOGLE %>
<p><b>A payment for $<%= money_format(@price) -%> will be credited to your google account within 24 hours.</b></p>
<% elsif @cash_out_request.method == BomConstant::CASH_OUT_TYPE_CHECK %>
<p><b>We will send a check to you for $<%= money_format(@price) -%> within 24 hours.</b></p>
<% else %>
<p><b>We will get back to you within 24 hours.</b></p>
<% end %>
