<h2>How does it work?</h2>

<p>
The process is actually quite simple.  You will use the BetOnMyself site to
track of promises to yourself.  Bets on yourself, if you will.  For instance, 
you bet $10 that you will make an appointment with your tax advisor by March 
15th.  That's it.  All of a sudden, calling your tax advisor will turn from
a burdensome chore, into a fun little game.  Once you've scheduled your
appointment, you win your bet and get paid $10 out of your account.  Yay!
</p>

<p><%= link_to "Sign me up!", {:controller => "users", :action => "new"}, :class => "red_link"%></p>
