<h1>Thanks</h1>
Thanks for signing up!  The first step is to activate your account.  We've sent an email to <b><%= @user.email -%></b> with instruction you how to do this.  Just click on the link we sent you, and you'll be ready to go.
