<h2>Thanks for signing up, <%= @user.first_name %>!</h2>
<p>
Welcome to the BetOnMyself members area.
</p>

<p>
The first step is to activate your account.  We've sent an email to <b><%= @user.email -%></b> with instruction you how to do this.  Simply visit the link we sent, and you'll be ready to go.
</p>
