<h1>Welcome to Bet On Myself!</h1>
<h2>It's going to be lots of fun</h2>

<p><%= link_to "My story", {:controller => "story"} %></p>
<p><%= link_to "How it works", {:controller => "works"} %></p>
<p><%= link_to "Sign me up!", {:controller => "users", :action => "new"}, :class => "red_link"%></p>
