<h2>Welcome to Bet On Myself!</h2>

<p> 

Imagine yourself living a life of greatness.  What does that feel like?
Living those dreams you've always wanted, soaring to new heights.  Let your
imagination run wild.  Feels pretty good, doesn't it....  But, something is 
holding you back.

</p><p>

BetOnMyself is designed to help you identify and eliminate those things,
allowing you the freedom to live the rich, full, juicy life that you're
dreaming of.  Giving you the space to apply yourself fully to your passions
and purpose.

</p><p>

The process is actually quite simple.  We'll help you identify both the
deadweight in your life that's holding you back, and the dreams and
aspirations that you never quite have time for.  Then we'll provide a
framework for you to hold yourself accountable for getting them done by a
specific date.  And the cool thing is, you'll actually <b><em>enjoy</em></b>
doing it.

</p><p>

I'm excited that you're here, and would like to share
<%= link_to "my story", {:controller => "story"} %>
with you...

</p><p>

<%= link_to "Sign me up!", {:controller => "users", :action => "new"}, :class => "red_link"%>

</p>
