<html>
 <head>
  <title>BetOnYourself</title>
 </head>
 <body>
 <p>Welcome to Bet On Yourself!</p>
 <p>It's going to be lots of fun</p>
 <%= link_to "Sign me up!", :controller => "users", :action => "new" %>
 </body>
</html>
