<h1>Welcome to Bet On Myself!</h1>
<h2>It's going to be lots of fun</h2>
<p>Let me tell you a story...</p>

<p>Goals are dreams with deadlines.  ~Diana Scharf Hunt</p>

<p>Dead-weight and Dreams</p>
<p>boxes keep me from a life of greatness...</p>
<p>Carrying a pencil while trying move a couch</p>
<p>guitar and boxes are burried together</p>
<p>feel about those boxes?</p>

<p>A goal without a plan is just a wish.
Antoine de Saint</p>
<p>
  <%= link_to "Sign me up!", {:controller => "signup"}, :class => "red_link"%>
</p>
