20 03 * * * RAILS_ENV=development /var/www/rails/betonmyself/sysconf/bin/nightly_maintenance.pl
20 04 * * * RAILS_ENV=production /var/www/rails/betonmyself/sysconf/bin/nightly_maintenance.pl
15 * * * * /usr/bin/pg_dump betonmyself_production -f /var/www/rails/betonmyself/db/backups/bom_production_`/bin/date +\%Y_\%m_\%d_\%H_\%M_\%S`.pg.bak
45 03 * * * /usr/bin/pg_dump betonmyself_development -f /var/www/rails/betonmyself/db/backups/bom_development_`/bin/date +\%Y_\%m_\%d_\%H_\%M_\%S`.pg.bak
