<h1>Frequently Asked Questions</h1>
<h2>Is this for real?</h2>
<p>

It certainly is! And it will help you get things done.

</p>
<h2>Should I make one big goal, or a bunch of small ones?</h2>
<p>

You can do either, or both.  Setting one big goal at first is a great way 
to stay focused and motivated.

</p>
<h2>What do I do when I complete my goal?</h2>
<p>

Simply click on the 'completed' button, and give yourself a big pat on the back for
cleaning up the loose ends in your life.

</p>
<h2>What happens if I don't complete my goal by the date I said I would?</h2>
<p>

This does happen from time to time, though you'd be surprised by the numbers. The
goal will be removed from your list of incentives, and you will be allowed to make
a new agreement with yourself, if you chose to.  The incentive you placed
on the goal will go into running this site instead.

</p>
